<%- include('./_layouts/header'); %>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-2">
                <img src="<%= user.profilepic %>" alt="" class="img-fluid">
            </div>
            <div class="col-lg-7 m-2">
                <ul class="list-group">
                    <a href="/profile/edit-profile/<%= user._id %>" class="">Edit</a>
                    <li class="list-group-item"><h5>Name: </h5> <span><%= user.name %></span></li>
                    <li class="list-group-item"><h5>Email: </h5> <span><%= user.email %></span></li>
                    <li class="list-group-item"><h5>Username: </h5> <span><%= user.username %></span></li>
                    <li class="list-group-item"><h5>Country: </h5> <span><%= user.country %></span></li>
                    <li class="list-group-item"><h5>Languages: </h5> <span><%= user.languages %></span></li>
                    <li class="list-group-item"><h5>Gender: </h5> <span><%= user.gender %></span></li>
                    <li class="list-group-item"><h5>DOB: </h5> <span><%= user.dob %></span></li>
                    <li class="list-group-item"><h5>Facebook: </h5> <span><%= user.social.facebook %></span></li>
                    <li class="list-group-item"><h5>Instagram: </h5> <span><%= user.social.instagram %></span></li>
                    <li class="list-group-item"><h5>Youtube: </h5> <span><%= user.social.youtube %></span></li>
                </ul>

            </div>
        </div>
    </div>    








<% if (user) { %>
         <%= user.name %>
      <% } %>

<%- include('./_layouts/footer'); %>